.root{
    -fx-background-color: #ffffff;
    -fx-background-radius: 50 25 25 50;
}
.paneLeft{
    -fx-background-color: #293146;
    -fx-background-radius: 15 0 0 15;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}
.paneRight{
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 0 15 15 0;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
    -fx-padding: 10;
    -fx-opacity: 0.9;
}
.aboveRectangle{
    -fx-background-radius: 40 40 40 40;
}
.belowRectangel{
    -fx-background-radius: 40 40 40 40;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
    -fx-opacity: 0.4;
}
.filed{
    -fx-border-color: #287ff1;
    -fx-border-width: 0 0 2 0;
    -fx-background-color: transparent;
}
.closePane{
    -fx-background-color: #273746;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
    -fx-background-radius: 25;
}
.button{
    -fx-background-color: #287ff1;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
    -fx-background-radius: 10;
}
.button:hover{
    -fx-opacity: 0.4;
}
